/* Global Styles */
body {
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: white;
    position: relative;
  }
  
  /* Logo Styles */
  .logo {
    position: absolute;
    top: 20px;
    right: 20px;
    max-width: 150px;
    width: auto;
  }
  
  /* Container with the background image */
  .container {
    background: url('https://s2-quem.glbimg.com/L_eKq5PjYDZ8PIWWov7KA_E9uWY=/0x0:1400x1052/924x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_b0f0e84207c948ab8b8777be5a6a4395/internal_photos/bs/2024/N/f/sMWmGGSYyNA9tYHSAtUA/cillian-murphy-thomasshelby-peaky-blinders.jpg') no-repeat center center/cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  /* Content div for text and button */
  .content {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px 40px;
    border-radius: 8px;
  }
  
  .content h2 {
    margin-bottom: 20px;
  }
  
  /* Button Styles */
  button {
    background-color: red;
    border: none;
    padding: 10px 20px;
    font-size: 1.2em;
    color: #fdfefe;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #1ABC9C;
  }
  
  /* Footer Styles */
  footer {
    text-align: center;
    padding: 10px;
  }
  